{% load static %}
<div id="task_list">
    {% for task in tasks %}
        <div>
            <p>Задача</p>
            <p>{{task.title}}</p>
        </div>
        <div class='group'>
            <div>
            <p>Описание:</p>
            <p>{{task.description}}</p>
            </div>
        </div>
        <div class="group">
            <div>
                <p>Исполнитель:</p>
                <p>{{task.executor}}</p>
            </div>
            <div>
                <p>Состояние:</p>
                <p>{{task.get_status_display}}</p>
            </div>
        </div>
        <div class="group">
            <div>
                <p>Дата создания:</p>
                <p>{{task.created_date}}</p>
            </div>
            <div>
                <p>Срок выполнения:</p>
                <p>{{task.completed_date}}</p>
            </div>
        </div>
    {% endfor %}
</div>
